@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  position: relative;
}
h1 {
  text-align: center;
  margin: 1.5rem 0;
  color: rebeccapurple;
}
p {
  width: 90%;
  margin: auto;
  letter-spacing: 1.5;
  color: blue;
}
.time {
  background-color: blueviolet;
  width: 80%;
  height: 50vh;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 2px 4px 8px lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#hms {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
}
#ampm {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
#date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}
